@import "tailwindcss";

@theme {
	--color-light-0: #dfdff0;
	--color-light-10: #e3e3f2;
	--color-light-20: #e6e6f3;
	--color-light-30: #eaeaf5;
	--color-light-40: #ededf7;
	--color-light-50: #f1f1f8;

	--color-dark-0: #121212;
	--color-dark-10: #282828;
	--color-dark-20: #3f3f3f;
	--color-dark-30: #575757;
	--color-dark-40: #717171;
	--color-dark-50: #8b8b8b;

	--color-primary-0: #d391ed;
	--color-primary-10: #d99def;
	--color-primary-20: #deaaf1;
	--color-primary-30: #e3b6f4;
	--color-primary-40: #e8c2f6;
	--color-primary-50: #edcef8;
}

@layer base {
	:root {
		@apply bg-light-0 text-dark-0 dark:bg-dark-0 dark:text-light-0;
	}

	button {
		@apply cursor-pointer;
	}

	h2,h3,p {
		@apply pb-1;
	}

	p {
		@apply mb-4;
	}

	h1 {
		@apply text-primary-0 font-bold text-3xl;
	}

	h2 {
		@apply text-primary-0 font-bold text-lg;
	}

	h3 {
		@apply text-dark-20 dark:text-light-20 font-bold text-lg;
	}

	h4 {
		@apply text-dark-40 italic text-lg;
	}

	ul {
		@apply list-disc w-11/12 self-center;
	}

	a {
		@apply font-bold text-primary-0;
	}
	a:active, a:visited {
		@apply opacity-75;
	}

	.anchor {
		@apply relative block -top-16;
	}
}
